In [11]:
import pandas as pd 
import numpy as np 
index = pd.date_range(start='1-1-2025',end='31-1-2025',freq='W')
hours_studied = np.random.randint(5,20,size=len(index))
df = pd.DataFrame(data={"Hours Studied":hours_studied},index=index)
studied_total = hours_studied.sum()
print(df)
print("You studied for",studied_total,"hours this month")

            Hours Studied
2025-01-05              8
2025-01-12             15
2025-01-19              9
2025-01-26             17
You studied for 49 hours this month

In [20]:
dates = pd.to_datetime(['2024-01-15', '2024-02-20', '2024-03-25', '2024-04-10', '2024-05-05'])
df = pd.DataFrame({'Date': dates})
df['Year'] = df['Date'].dt.year
df['day'] = df['Date'].dt.day
df['weekday'] = df['Date'].dt.weekday
df['month'] = df['Date'].dt.month
df['Day Of Year'] = df['Date'].dt.dayofyear
df

        Date  Year  day  weekday  month  Day Of Year
0 2024-01-15  2024   15        0      1           15
1 2024-02-20  2024   20        1      2           51
2 2024-03-25  2024   25        0      3           85
3 2024-04-10  2024   10        2      4          101
4 2024-05-05  2024    5        6      5          126

In [21]:
date_shift = df['Date'].shift(2)
date_shift

0          NaT
1          NaT
2   2024-01-15
3   2024-02-20
4   2024-03-25
Name: Date, dtype: datetime64[ns]