In [1]:
import pandas as pd 
data = {
    'Team': ['A', 'B', 'A', 'B', 'C', 'A'],
    'Points': [10, 20, 15, 25, 30, 10]
}
df = pd.DataFrame(data)
df

  Team  Points
0    A      10
1    B      20
2    A      15
3    B      25
4    C      30
5    A      10

In [3]:
g=df.groupby('Team')['Points'].mean()
g

Team
A    11.666667
B    22.500000
C    30.000000
Name: Points, dtype: float64

In [11]:
data = {
    'Department': ['HR', 'IT', 'HR', 'IT', 'Sales'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Salary': [60000, 80000, 65000, 75000, 70000]
}
df = pd.DataFrame(data)
df

  Department Employee  Salary
0         HR    Alice   60000
1         IT      Bob   80000
2         HR  Charlie   65000
3         IT    David   75000
4      Sales      Eva   70000

In [13]:
agg = df.groupby('Department').agg(
    total_salary=('Salary','sum'),
    Avg_salary=('Salary','mean')
)
agg

            total_salary  Avg_salary
Department
HR                125000     62500.0
IT                155000     77500.0
Sales              70000     70000.0

In [16]:
agg['total_salary']<150000

Department
HR        True
IT       False
Sales     True
Name: total_salary, dtype: bool

In [21]:
data = {
    'Store': ['Walmart', 'Target', 'Walmart', 'Target', 'Walmart'],
    'Sales': [200, 150, 300, 400, 250],
    'Profit': [50, 40, 80, 90, 70]
}
df2 = pd.DataFrame(data)
df2

     Store  Sales  Profit
0  Walmart    200      50
1   Target    150      40
2  Walmart    300      80
3   Target    400      90
4  Walmart    250      70

In [44]:
group_avg_sales = df2.groupby('Store')['Sales'].transform()

         avg_sales
Store
Target       275.0
Walmart      250.0

In [45]:
df2['Sales_Above_Avg'] = df2['Sales']>sales
df2

ValueError: Operands are not aligned. Do `left, right = left.align(right, axis=1, copy=False)` before operating.